<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>會員註冊</h2>
    <form method="POST" enctype="multipart/form-data">
      <!-- enctype="multipart/form-data" 此語法才不會顯示None -->
      {% csrf_token %}
      <div>
        <input type="text" name="username" placeholder="請輸入姓名" />
      </div>
      <div>
        <input type="email" name="useremail" placeholder="請輸入電子信箱" />
      </div>
      <div>
        <input type="passwprd" name="userpassword" placeholder="請輸入密碼" />
      </div>
      <div>
        <input type="date" name="userbirth" placeholder="請輸入生日" />
      </div>
      <div>
        <input type="file" name="userphoto">
      </div>
      <button type="submit">註冊</button>
    </form>
  </body>
</html>
