{% extends "base.html" %}



{% block content %}
<p>abc Page</p>
<p>{{ user }}</p>

{% if user.age >= 40 %}
<p style="background-color: tomato;color: darkblue;">{{ user.name }}</p>
{% elif user.age >= 20 %}
<p style="background-color: lightgoldenrodyellow;color: darkblue ;">{{ user.name }}</p>
{% else  %}
<p style="background-color: chartreuse;color: darkolivegreen;">{{ user.name }}</p>
{% endif %}
<hr>
<p>{{ users }}</p>


<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th>姓名</th>
            <th>電子郵件</th>
            <th>年齡</th>
        </tr>
    </thead>
    <tbody>
        {% for aUser in user|dictsort:'age' %}

        <tr class="{% cycle 'table-success' 'table-warning' %}">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.age}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock  %}

{% block title %}
<h2>{{title}}</h2>
{% endblock  %}