{% extends "base.html" %}

{% block style %}
<style>
    h3 {
        color: blue;
    }

    p {
        background-color: lightskyblue;
    }
</style>
{% endblock %}

{% block script %}
<script>
    const theP = document.querySelector('p')
    theP.addEventListener('mouseover', () => {
        theP.style.backgroundColor = 'lightyellow'
    })
    theP.addEventListener('mouseout', () => {
        theP.style.backgroundColor = 'lightgreen'
    })
</script>
{% endblock %}



{% block title %}
<h3>{{ title|title }}</h3>
{% endblock %}


{% block content %}
<p>這是來自 show templates 的內容</p>
<ul>
    {% for category in categories %}
    <li>
        {{category.id}} - {{category.name}}
        <!-- 資料型別轉型之後，原先的index 就要改成key -->
    </li>
    {% endfor %}
</ul>
{% endblock %}

